
*{
  margin: 0;
  padding: 0%;
  box-sizing: none;
}


.menu {
  color: blanchedalmond !important;
}
.boton-menu{
background-color: blanchedalmond !important; 
border-bottom: 1px solid blanchedalmond !important;
}

.carrusel {
  height: 700px;}

  body {
    background-color: #212529 !important;
    color:blanchedalmond
  }

  footer{background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  }
.classparrafo {
padding-top: 20px;
padding-bottom: 20 px;
}

.p {
  color: aliceblue;
}

.classparrafo{
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 30px;
  padding-left: 30px;
}